In [ ]:
>>> 9            # 1 int
>>> 9.           # 2 float
>>> 9.0          # 3 float
>>> 9 + 3        # 4 int
>>> 9 - 3.       # 5 float
>>> 9 / 4        # 6 float
>>> 9 // 4       # 7 int
>>> 9. // 4      # 8 float

2.0

In [ ]:
2**3**2
(2**3)**2
-2**3 - 2 * 5 #-18

-18

In [9]:
#Task 1:
#Write a single line of Python code that calculates the radius of a circle with area 15 units and prints
#  the value. The output should just be the number that your code produces. Your code should include the 
# use of an expression involving division and exponentiation (to compute the square root). Use the value 
# 3.14159 for pi. [Area = pi * r**2] => r = sqrt(area/pi) area = 15
r = 15/3.14159**0.5
print("Radius:",r)

Radius: 8.462847327347765

In [12]:
x = 12
y = 7.4
x -= y
print(x, y) #4.6 7.4
y = y-x +7
z = 1
x *= 2 + z
print(x, y) #13.799999999999999 9.8
x += x*y
print(x, y)

4.6 7.4
13.799999999999999 9.8
149.04000000000002 9.8

In [13]:
#Task 2:
#Assuming you start with $100 and earn 5% interest each year, how much much will you have at the end of one year, two years and three years? Write Python expressions to calculate these, using variables as appropriate. We will write the solution into a file and run the file using the interpreter.
principal = 100
rate = 0.05

year1 = principal * (1 + rate)
year2 = principal * (1 + rate) ** 2
year3 = principal * (1 + rate) ** 3

print(year1)
print(year2)
print(year3)

105.0
110.25
115.76250000000002

In [18]:
s= 'ha'
print(s * -1)
'123' + 4

TypeError: can only concatenate str (not "int") to str

In [20]:
 s = "Cats\tare\n\tgood\tsources\n\t\tof\tinternet\tmemes"
print(s)

Cats	are
	good	sources
		of	internet	memes

In [23]:
print('\\'*4)
print('\\\n'*3)
print('Good-bye')

\\\\
\
\
\

Good-bye

In [24]:
s = "Hello!"
print(len(s))

6

In [ ]:
x = input("Enter a new number ")
x = float(x)
print('The square of', x, 'is', x*x)

In [1]:
b = 'good morning'
b.find('o', 3)

6

In [4]:
pi = 3.14159
r = 2.5
h = 10**0.5
volume = pi * r**2 * h
out_string = 'A cylinder of radius {0:.2f} and height {1:.2f} has volume {2:.2f}'.format(r, h, volume)
print(out_string)

A cylinder of radius 2.50 and height 3.16 has volume 62.09

In [5]:
import math
math.sqrt(5)

2.23606797749979

In [8]:
from math import sqrt,pi
print(pi)

sqrt(4)
2.0

3.141592653589793

2.0

In [1]:
s1 = set(range(0, 10))
print(s1)
s1.add(6)
s1.add(10)
s2 = set(range(4, 20, 2))
print(s2)
print(s1 - s2)
print(s1 & s2)
print(s1 | s2)
print(s1 <= s2)
s3 = set(range(4, 20, 4))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 6, 8, 10, 12, 14, 16, 18}
{0, 1, 2, 3, 5, 7, 9}
{8, 10, 4, 6}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18}
False

In [2]:
s1 = set()
SampleData = {"V":"S001", "V1":"S002", "VI": "S001", "VI4": "S005", "VII":"S005", "V4":"S009","VIII":"S007"}
for key, value in SampleData.items():
    s1.add(value)

print(s1)

{'S001', 'S002', 'S009', 'S005', 'S007'}